.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 8vh;
  min-height: 80px;
  background-color: var(--dark-color);
}

.logo {
  margin: 0% 0%;
  height: 5rem;
  width: auto;
  fill: var(--light-color);
}

.logo img {
  max-height: 5rem;
}

.logo path {
  min-width: max-content;
  text-align: center;
  margin: 0 auto;
}

.navbar .options {
  display: flex;
  gap: 2rem;
}

.BRBContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/doritasso.svg");
  background-color: var(--secondary-color);
  height: 47vh;
  height: fit-content;
  gap: 5rem;
  min-height: 240px;
  padding: 1rem 0rem;
}

.BRBContainer h1 {
  /* font-weight: normal; */
  margin: 0;
  font-size: 4rem;
  color: var(--light-color);
}

#pun {
  color: var(--main-color);
}

.BRBContainer ul {
  font-size: 1.2rem;
  display: flex;
  width: 45%;
  word-spacing: 0.25rem;
  justify-content: space-between;
}

.BRBContainer ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.BRBContainer ul li small {
  margin-bottom: 1rem;
}

.searchbar {
  display: flex;
  background-color: white;
  width: 35%;
  padding: 1rem;
  border-radius: 4px;
}

.searchbar input {
  margin-left: 1rem;
  background: transparent;
  font-size: 1rem;
  height: 0.5rem 1.5rem;
  width: 100%;
  border: none;
}

@media (max-width: 1600px) {
  .BRBContainer ul {
    width: 80%;
  }
}

.LContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.table {
  text-align: left;
  border-collapse: collapse;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.table thead th{
  padding-top: 2rem;
}

.table tbody:last-child tr:last-child td{
  padding-bottom: 2rem;
}

.table th {
  color: var(--dark-color);
  font-size: 1.5rem;
  padding-bottom: 2rem;
}

.table td {
  color: var(--main-color);
  font-size: 1.3rem;
  padding-bottom: 1rem;
}

@media (max-width: 1600px) {
  .table{
    width: 80%;
  }
}

.community{
  width: 100%;
  background-color: var(--light-color);
}

.community div{
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  color: var(--dark-color);
  padding: 5rem 0rem;
  gap: 2rem;
  font-size: 1.5rem;
}

.community h1 {
  margin: 0;
  font-size: 4rem;
}

.community button {
  cursor: pointer;
  margin-right: 3rem;
  padding: 1rem 3.5rem;
  color: var(--light-color);
  background-color: var(--main-color);
  border: none;
  border-radius: 20rem;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  transition-duration: 0.3s;
}

.footer{
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 4rem 15% 2rem 15%;
  background-color: var(--dark-color);
}

.footer #up{
  display: flex;
  justify-content: space-around;
  margin-bottom: 6%;
}

.footer h4 {
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.5);
}

.footer ul {
  display: flex;
  font-size: 1.2rem;
  display: flex;
  gap: 3rem;
}

.footer li {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer a:hover{
  color: var(--main-color);
}

.logo #footer {
  height: 6rem;
  width: auto;
}

.socialMedia {
  fill: var(--light-color);
}

.socialMedia svg {
  padding: 0.75rem;
  border-radius: 100%;
  width: 2.5rem;
  height: auto;
  background-color: var(--dark-secondary-color);
}

.footer #down{
  display: flex;
  gap: 2rem;
  width: 100%;
  display: flex;
}

.footer #down p:last-child{
  align-self: flex-end;
  margin-left: auto;
}

.footer #down p:hover{
  cursor: pointer;
  color: var(--main-color)
}

@media (max-width: 1600px) {
  .footer{
    width: 100%;
    padding: 4rem 0%;
    padding-bottom: 2rem;
  }

  .footer #down{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
}